<section class="mx-auto">
  <article class="flex flex-col px-4 py-2 w-[80%] lg:w-[30vw] justify-between custom-border">
    <div class="pb-6 flex justify-between">
      <h3><%= @post.title %> by <%= @user.name %></h3>
      <h6 class="bg-blue-200">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></h6>
    </div>
    <p class="pt-6"><%= @post.text %></p>
  </article>

  <div class="px-4 py-2 custom-border mb-6">
    <% if @post.most_recent_comments.any? %>
      <% @post.most_recent_comments(20).each do |comment| %>
        <p class="py-4"><%= comment.user.name %>: <%= comment.text %></p>
      <% end %>
    <% else %>
      <p>There are no comments yet.</p>
    <% end %>
  </div>
  
  <div class="flex justify-between mb-8">
    <%= button_to 'Like', user_post_likes_path(@user, @post), class: 'px-4 custom-border' %>

     <%= link_to new_user_post_comment_path(@user, @post), class: 'px-4 custom-border' do %>
      <button>Add comment</button>
    <% end %>
  </div>

  <a class="px-4 custom-border" href="<%= user_posts_path(@user) %>" >
    Go back
  </a>
</section>